---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import { headerData } from '~/config/page';
import { fetchProfileData } from '~/config/profile';
import type { CallToAction, Item } from '~/types';

const metadata = {
  title: 'Ravuthz',
};

const data = await fetchProfileData();
const { findMe, hireMe, aboutMe, aboutSocials, skills, educations, experiences, personal } = data;
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header links={headerData.links} actions={[findMe]} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->hireMe

  <Hero id="hero" title={personal.fullName} tagline="Personal Site" actions={[hireMe as CallToAction]}>
    <Fragment slot="subtitle">
      {aboutMe.short}
    </Fragment>
  </Hero>

  <Content
    id="about"
    columns={3}
    items={aboutSocials as Item[]}
    image={{
      // src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      src: personal.image,
      alt: 'Avatar',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        {aboutMe.description}
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps id="resume" title="Work experience" items={experiences} classes={{ container: 'max-w-3xl' }} />

  <Steps id="resume" title="Education" items={educations} classes={{ container: 'max-w-3xl' }} />

  <Features3 title="Skills" columns={4} defaultIcon="tabler:point-filled" items={skills} />

  <!-- <BlogLatestPosts id="blog" title="Explore my shared articles on my blog" information={``}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
